.approve__header{
    text-align: left;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.button{
    background-color: Transparent;
    border:none;
    padding: 10px 16px 10px 16px;
    color:rgba(150,150,150,1);
    font-size:14px;
}
.button:hover{
    background-color: rgba(255, 255, 255,0.08)
}
.button__icon{
    margin: 0px 8px 0px 0px;
}
.button:active{
    color:white;
}
.approve__controls{
    display:flex;
    padding: 1px 12px 0px 12px;
    position: fixed;
    bottom:0px;
    background-color:  rgb(32,32,32);
    width: 100%;
}
.controls__pagination{
    flex:1;
}
.controls__buttons{
    flex:1;
    margin:0;
    padding: 0;
    color: rgb(238,238,238);
}
.approve__header{
    font-size: 3em;
    font-family: 'Khula', sans-serif;
    padding:0 0 0 .3em;
    margin: .5em 0 .1em 0;
    line-height: 1em;
}