
.mashups{
    width: 100%;
    border-collapse: collapse;
    margin: 0px 0px 50px 0px;
}
td{
    font-weight: 100;
}
th{
    font-weight: 700;
    font-size: 1.4em;
}

th, td{
    border-bottom: 1px solid rgba(221, 221, 221,0.2);
    text-align:left;
}
.mashups__tbody tr:hover{
    background-color: rgba(255, 255, 255,0.2)
}
th:hover  {
    background-color:none !important;
}
.mashups__link{
    text-decoration: none;
    
}
.mashups__link:link{
    color:white;
}
.mashups__link:visited{    
    color:rgba(150,150,150,1);
}
.mashups__title_header{
    width: 70%;
}
.mashups__checkbox_header{
    width:40px;
}

/* .mashups__checkbox{
    background-color:5px black;
} */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  input[type="checkbox"] + span {
    font: 16pt sans-serif;
    color:rgba(150,150,150,1);
  }

  input[type="checkbox"] + span:before {
    font: 16pt FontAwesome;
    content: '\00f096';
    width: 16pt;
    padding: 2px 0 0 3px;
    margin-right: 0.5em;
  }
  input[type="checkbox"]:checked + span:before {
    content: '\00f046';
    color:white;
  }
