.menu{
    list-style:none;
    text-align: left;
    padding:0px;
    margin:0px;
    display:list-item;
}
.menu__item{
    padding: 12px 0px 12px 0px;
    color:rgba(150,150,150,1);
    font-size: .8em;
    text-align: center;
}
.menu__icon{
    margin: 0px 0px 0px 0px;
    display:block;
}
.menu__item:hover{
    background-color: rgba(255, 255, 255,0.08)
}
.menu__link{
    line-height: 2.5em;
    font-weight: 50;
}
.menu__link:active{
    color:white;
}
.menu__link:visited{
    color:rgba(150,150,150,1);
    text-decoration: none;
}
.menu__link:link{
    text-decoration: none;
}