.pagination{
    list-style-type: none;
    display:flex;
    flex-direction: row;
    margin:0;
    padding:0;
}
.pagination__item{
    margin: 0px -1px;
    padding: 8px 16px;
}
.pagination__link{   
    text-decoration: none;
    color:rgba(150,150,150,1);
}
.pagination__link--active{
    color:white;
}
.pagination__link:active{
    color:white;
}
.pagination__item:hover:not(.pagination__link--active){
    background-color: rgba(255, 255, 255,0.08)
}

